# 자료형

## 리스트

In [4]:
my_list = [1, 2, 3, [1, 2, "list"], "문자도 넣을 수 있어요"]

In [13]:
my_list[4]

'문자도 넣을 수 있어요'

In [3]:
type(my_list)

list

In [14]:
my_list[4] = 5

In [17]:
print(my_list)

[1, 2, 3, [1, 2, 'list'], 5]

In [22]:
my_list = [1, 2, 3]
my_list.append(4)  # 리스트 끝에 4 추가
print(my_list)

print(my_list.pop(1))     # 두 번째 요소 제거 (2)
print(my_list)

[1, 2, 3, 4]
2
[1, 3, 4]

In [28]:
my_list = [1, 2, 3, 4, 5]
sub_list = my_list[:4]  # 인덱스 1, 2 및 3에 해당하는 요소 추출
print(sub_list)

[1, 2, 3, 4]

In [29]:
list1 = [1, 2, 3]
list2 = [4, 5, 6]
combined_list = list1 + list2  # 두 리스트 결합
print(combined_list)

[1, 2, 3, 4, 5, 6]

In [31]:
numbers = [1, 2, 3, 4, 5]
squared_numbers = [x**2 for x in numbers] 
print(squared_numbers)

[1, 4, 9, 16, 25]

In [35]:
matrix = [[1, 2, 3], [4, 5, 6], [7, 8, 9]]
print(matrix)
print(matrix[0])
print(matrix[1])
print(matrix[2])

[[1, 2, 3], [4, 5, 6], [7, 8, 9]]
[1, 2, 3]
[4, 5, 6]
[7, 8, 9]

### 리스트에서 사용할 수 있는 함수 

| 함수 이름          | 설명                                     | 예제                                                |
|--------------------|------------------------------------------|-----------------------------------------------------|
| `append(item)`     | 리스트의 끝에 요소를 추가합니다.         | `my_list = [1, 2, 3]`<br> `my_list.append(4)` 결과: `[1, 2, 3, 4]` |
| `extend(iterable)` | 리스트에 다른 반복 가능한 객체의 모든 요소를 추가합니다. | `list1 = [1, 2]`<br> `list2 = [3, 4]`<br> `list1.extend(list2)` 결과: `[1, 2, 3, 4]` |
| `insert(index, item)` | 특정 위치에 요소를 삽입합니다. | `my_list = [1, 2, 3]`<br> `my_list.insert(1, 4)` 결과: `[1, 4, 2, 3]` |
| `remove(item)`     | 특정 요소를 삭제합니다.                 | `my_list = [1, 2, 3, 2]`<br> `my_list.remove(2)` 결과: `[1, 3, 2]` |
| `pop(index)`       | 지정된 인덱스의 요소를 제거하고 반환합니다. | `my_list = [1, 2, 3]`<br> `popped_item = my_list.pop(1)` 결과: `2` |
| `index(item)`      | 특정 요소의 첫 번째 인덱스를 반환합니다. | `my_list = [1, 2, 3, 2]`<br> `index = my_list.index(2)` 결과: `1` |
| `count(item)`      | 리스트에서 특정 요소의 개수를 세어 반환합니다. | `my_list = [1, 2, 3, 2]`<br> `count = my_list.count(2)` 결과: `2` |
| `sort()`            | 리스트를 오름차순으로 정렬합니다. | `my_list = [3, 1, 2]`<br> `my_list.sort()` 결과: `[1, 2, 3]` |
| `reverse()`         | 리스트의 순서를 뒤집습니다. | `my_list = [1, 2, 3]`<br> `my_list.reverse()` 결과: `[3, 2, 1]` |
| `copy()`            | 리스트의 얕은 복사본을 생성합니다. | `original_list = [1, 2, 3]`<br> `new_list = original_list.copy()` |
| `clear()`           | 리스트의 모든 요소를 제거합니다. | `my_list = [1, 2, 3]`<br> `my_list.clear()` 결과: `[]` |

In [37]:
list1 = [1, 2]
list2 = [3, 4]
list1.extend(list2)
print(list1)
print(list2)

list1 = list1 + list2
print(list1)

[1, 2, 3, 4]
[3, 4]
[1, 2, 3, 4, 3, 4]

In [38]:
my_list = [1, 2, 3]
my_list.insert(1, 4)
print(my_list)

[1, 4, 2, 3]

In [43]:
my_list = [4, 1, 2, 3, 2]
my_list.remove(4)
print(my_list)

[1, 2, 3, 2]

In [44]:
my_list = [1, 2, 3, 2]
my_list.remove(2)
print(my_list)

[1, 3, 2]

In [49]:
my_list = [1, 2, 3, 2, 2, 3, 4, 5, 6, 2]
index = my_list.index(2)
print(index)
print(my_list.count(2))

1
4

In [54]:
my_list1 = [3, 1, 2]
my_list1 = my_list.sort()
print(my_list1)

None

In [55]:
my_list = [1, 2, 3]
print(my_list.reverse())

None

In [56]:
original_list = [1, 2, 3]
new_list = original_list.copy()
print(new_list)

[1, 2, 3]

In [57]:
my_list = [1, 2, 3]
my_list.clear()
print(my_list)

[]

## 튜플

In [61]:
my_tuple = (1, 2, 3)
another_tuple = 4, 5, 6  # 괄호 없이도 가능

print(my_tuple)
print(another_tuple)
print(type(my_tuple))
print(type(another_tuple))

(1, 2, 3)
(4, 5, 6)
<class 'tuple'>
<class 'tuple'>

In [62]:
my_tuple = (1, 2, 3)
first_element = my_tuple[0]  # 첫 번째 요소에 접근 (1)
second_element = my_tuple[1]  # 두 번째 요소에 접근 (2)

print(first_element)
print(second_element)

1
2

In [65]:
my_tuple = (1, 2, 3)
a, b, c = my_tuple  # a에 1, b에 2, c에 3 할당

print(a)
print(b)
print(c)

1
2
3

In [66]:
my_tuple = (1, 2, 3)
my_tuple[1] = 4  # 오류: 튜플은 수정할 수 없음

TypeError: 'tuple' object does not support item assignment

### 튜플의 함수

| 함수 이름          | 설명                                     | 예제                                                |
|--------------------|------------------------------------------|-----------------------------------------------------|
| `count(item)`      | 튜플에서 특정 요소의 개수를 세어 반환합니다. | `my_tuple = (1, 2, 2, 3, 2)`<br> `count = my_tuple.count(2)` 결과: `3` |
| `index(item)`      | 튜플에서 특정 요소의 첫 번째 인덱스를 반환합니다. | `my_tuple = (1, 2, 3, 2)`<br> `index = my_tuple.index(2)` 결과: `1` |

In [67]:
my_tuple = (1, 2, 2, 3, 2)
count = my_tuple.count(2)
print(count)

3

In [68]:
my_tuple = (1, 2, 3, 2)
index = my_tuple.index(2) 
print(index)

1

## 집합(Set)

In [71]:
my_set = {1, 2, 3, 4, 5}
print(my_set)
type(my_set)

{1, 2, 3, 4, 5}

set

In [72]:
my_set = {1, 2, 2, 3, 3, 4, 5}
print(my_set)

{1, 2, 3, 4, 5}

In [73]:
set1 = {1, 2, 3, 4, 5}
set2 = {3, 4, 5, 6, 7}

union_set = set1 | set2  # 합집합
intersection_set = set1 & set2  # 교집합
difference_set1 = set1 - set2  # 차집합
difference_set2 = set2 - set1  # 차집합

print(union_set)
print(intersection_set)
print(difference_set1)
print(difference_set2)

{1, 2, 3, 4, 5, 6, 7}
{3, 4, 5}
{1, 2}
{6, 7}

In [74]:
my_set = {1, 2, 3}
print(my_set)
my_set.add(4)  # 요소 추가
print(my_set)
my_set.remove(2)  # 요소 제거
print(my_set)

{1, 2, 3}
{1, 2, 3, 4}
{1, 3, 4}

In [75]:
my_set = {1, 2, 3, 4, 5}
size = len(my_set)  # size는 5
print(size)

5

In [78]:
my_set = {1, 2, 3, 4, 5}
result = 3 in my_set  # result는 True
print(result)

True

### 집합에서 사용하는 함수

| 함수 이름          | 설명                                     | 예제                                                |
|--------------------|------------------------------------------|-----------------------------------------------------|
| `add(item)`       | 집합에 요소를 추가합니다.              | `my_set = {1, 2, 3}`<br> `my_set.add(4)` 결과: `{1, 2, 3, 4}` |
| `remove(item)`    | 집합에서 특정 요소를 제거합니다.        | `my_set = {1, 2, 3, 4}`<br> `my_set.remove(2)` 결과: `{1, 3, 4}` |
| `discard(item)`   | 집합에서 특정 요소를 제거하나, 요소가 없어도 오류가 발생하지 않습니다. | `my_set = {1, 2, 3, 4}`<br> `my_set.discard(5)` |
| `pop()`           | 집합에서 임의의 요소를 제거하고 반환합니다. | `my_set = {1, 2, 3, 4}`<br> `popped_item = my_set.pop()` |
| `clear()`         | 집합의 모든 요소를 제거합니다.          | `my_set = {1, 2, 3}`<br> `my_set.clear()` 결과: `{}` |
| `copy()`          | 집합의 얕은 복사본을 생성합니다.       | `original_set = {1, 2, 3}`<br> `new_set = original_set.copy()` |
| `union(other_set)` | 두 집합을 합집합으로 결합합니다.       | `set1 = {1, 2, 3}`<br> `set2 = {3, 4, 5}`<br> `union_set = set1.union(set2)` 결과: `{1, 2, 3, 4, 5}` |
| `intersection(other_set)` | 두 집합의 교집합을 반환합니다. | `set1 = {1, 2, 3}`<br> `set2 = {3, 4, 5}`<br> `intersection_set = set1.intersection(set2)` 결과: `{3}` |
| `difference(other_set)` | 두 집합의 차집합을 반환합니다. | `set1 = {1, 2, 3}`<br> `set2 = {3, 4, 5}`<br> `difference_set = set1.difference(set2)` 결과: `{1, 2}` |
| `issubset(other_set)` | 집합이 다른 집합의 부분집합인지 확인합니다. | `set1 = {1, 2, 3}`<br> `set2 = {1, 2, 3, 4, 5}`<br> `is_subset = set1.issubset(set2)` 결과: `True` |
| `issuperset(other_set)` | 집합이 다른 집합의 상위집합인지 확인합니다. | `set1 = {1, 2, 3, 4, 5}`<br> `set2 = {1, 2, 3}`<br> `is_superset = set1.issuperset(set2)` 결과: `True` |

In [79]:
my_set = {1, 2, 3}
my_set.add(4)
print(my_set)

{1, 2, 3, 4}

In [85]:
my_set = {1, 2, 3, 4}
my_set.remove(5)
print(my_set)

KeyError: 5

In [84]:
my_set = {1, 2, 3, 4}
my_set.discard(5)
print(my_set)

{1, 2, 3, 4}

In [88]:
my_set = {1, 2, 3, 4}
popped_item = my_set.pop()
print(popped_item)
print(my_set)
popped_item = my_set.pop()
print(popped_item)
print(my_set)

1
{2, 3, 4}
2
{3, 4}

In [89]:
my_set = {1, 2, 3}
my_set.clear()
print(my_set)

set()

In [90]:
original_set = {1, 2, 3}
new_set = original_set.copy()
print(new_set)

{1, 2, 3}

In [92]:
set1 = {1, 2, 3}
set2 = {3, 4, 5}
union_set = set1.union(set2)
print(union_set)
union_set2 = set1 | set2
print(union_set2)

{1, 2, 3, 4, 5}
{1, 2, 3, 4, 5}

In [94]:
set1 = {1, 2, 3}
set2 = {3, 4, 5}
intersection_set = set1.intersection(set2)
print(intersection_set)
intersection_set2 = set1 & set2
print(intersection_set2)

{3}
{3}

In [97]:
set1 = {1, 2, 3}
set2 = {3, 4, 5}
difference_set = set1.difference(set2)
print(difference_set)
difference_set2 = set1 - set2
print(difference_set2)
difference_set3 = set2.difference(set1)
print(difference_set3)
difference_set4 = set2 - set1
print(difference_set4)

{1, 2}
{1, 2}
{4, 5}
{4, 5}

In [98]:
set1 = {1, 2, 3}
set2 = {1, 2, 3, 4, 5}
is_subset = set1.issubset(set2)
print(is_subset)

True

In [99]:
set1 = {1, 2, 3, 4, 5}
set2 = {1, 2, 3}
is_superset = set1.issuperset(set2)
print(is_superset)

True

## 딕셔너리

In [102]:
my_dict = {"name": "Alice", "age": 30, "city": "New York"}
print(my_dict)
type(my_dict)

{'name': 'Alice', 'age': 30, 'city': 'New York'}

dict

In [103]:
my_dict = {"name": "Alice", "age": 30, "city": "New York"}
name = my_dict["name"]  # "Alice"
print(name)
age = my_dict["age"]    # 30
print(age)

Alice
30

In [104]:
my_dict = {"name": "Alice", "age": 30, "city": "New York"}
print(my_dict["age"] )
my_dict["age"] = 31  # 나이 수정
print(my_dict["age"] )

30
31

In [105]:
my_dict = {"name": "Alice", "age": 30, "city": "New York"}
print(my_dict)
my_dict["job"] = "Engineer"  # 직업 추가
print(my_dict)

{'name': 'Alice', 'age': 30, 'city': 'New York'}
{'name': 'Alice', 'age': 30, 'city': 'New York', 'job': 'Engineer'}

In [106]:
my_dict = {"name": "Alice", "age": 30, "city": "New York"}
print(my_dict)
del my_dict["city"]  # "city" 키-값 쌍 제거
print(my_dict)

{'name': 'Alice', 'age': 30, 'city': 'New York'}
{'name': 'Alice', 'age': 30}

In [107]:
my_dict = {"name": "Alice", "age": 30, "city": "New York"}
for key, value in my_dict.items():
    print(key, ":", value)

name : Alice
age : 30
city : New York

In [110]:
my_dict = {"name": "Alice", "age": 30, "city": "New York"}
print(my_dict)
keys = my_dict.keys()    
print(keys)
print(type(keys))
values = my_dict.values()  
print(values)
print(type(values))

{'name': 'Alice', 'age': 30, 'city': 'New York'}
dict_keys(['name', 'age', 'city'])
<class 'dict_keys'>
dict_values(['Alice', 30, 'New York'])
<class 'dict_values'>

### 딕셔너리의 함수

| 함수 이름          | 설명                                     | 예제                                                |
|--------------------|------------------------------------------|-----------------------------------------------------|
| `keys()`           | 딕셔너리의 모든 키를 리스트로 반환합니다. | `my_dict = {"name": "Alice", "age": 30}`<br> `keys = my_dict.keys()` 결과: `["name", "age"]` |
| `values()`         | 딕셔너리의 모든 값을 리스트로 반환합니다. | `my_dict = {"name": "Alice", "age": 30}`<br> `values = my_dict.values()` 결과: `["Alice", 30]` |
| `items()`          | 딕셔너리의 모든 키-값 쌍을 튜플로 반환합니다. | `my_dict = {"name": "Alice", "age": 30}`<br> `items = my_dict.items()` 결과: `[("name", "Alice"), ("age", 30)]` |
| `get(key, default)` | 주어진 키의 값을 반환하며, 키가 존재하지 않으면 기본값을 반환합니다. | `my_dict = {"name": "Alice", "age": 30}`<br> `value = my_dict.get("name", "Unknown")` 결과: `"Alice"`<br> `value = my_dict.get("country", "Unknown")` 결과: `"Unknown"` |
| `pop(key)`         | 주어진 키와 연결된 값을 반환하고, 그 키-값 쌍을 딕셔너리에서 제거합니다. | `my_dict = {"name": "Alice", "age": 30}`<br> `value = my_dict.pop("age")` 결과: `30`<br> `my_dict`는 이제 `{"name": "Alice"}` |
| `popitem()`        | 무작위 키-값 쌍을 반환하고, 해당 쌍을 딕셔너리에서 제거합니다. | `my_dict = {"name": "Alice", "age": 30}`<br> `item = my_dict.popitem()` 결과: 무작위 키-값 쌍<br> `my_dict`는 이제 한 항목이 덜어진 상태 |
| `update(other_dict)` | 다른 딕셔너리의 키-값 쌍을 현재 딕셔너리에 추가 또는 업데이트합니다. | `my_dict = {"name": "Alice", "age": 30}`<br> `other_dict = {"city": "New York", "age": 31}`<br> `my_dict.update(other_dict)`<br> 결과: `my_dict`는 `{"name": "Alice", "age": 31, "city": "New York"}` |
| `clear()`          | 딕셔너리의 모든 키-값 쌍을 제거합니다. | `my_dict = {"name": "Alice", "age": 30}`<br> `my_dict.clear()` 결과: `{}` |

In [111]:
my_dict = {"name": "Alice", "age": 30}
value = my_dict.get("name", "Unknown")
print(value)
value = my_dict.get("country", "Unknown")
print(value)

Alice
Unknown

In [112]:
my_dict = {"name": "Alice", "age": 30}
print(my_dict)
value = my_dict.pop("age")
print(value)
print(my_dict)

{'name': 'Alice', 'age': 30}
30
{'name': 'Alice'}

In [117]:
my_dict = {"name": "Alice", "age": 30}
print(my_dict)
item = my_dict.popitem()
print(item)
print(my_dict)

{'name': 'Alice', 'age': 30}
('age', 30)
{'name': 'Alice'}

In [118]:
my_dict = {"name": "Alice", "age": 30}
other_dict = {"city": "New York", "age": 31}
print(my_dict)
print(other_dict)
my_dict.update(other_dict)
print(my_dict)
print(other_dict)

{'name': 'Alice', 'age': 30}
{'city': 'New York', 'age': 31}
{'name': 'Alice', 'age': 31, 'city': 'New York'}
{'city': 'New York', 'age': 31}